$primary-color: #04f6ff;
$secondary-color: #9f13dd;
$text-color: #ffff78;

@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@mixin easeOut {
  transition: all 1.2s ease-out;
}

//Media Queries

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
