@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient($primary-color, $secondary-color);
  background-attachment: fixed;
  background-size: cover;
  color: white;
  height: 100%;
  margin: 0;
  font-family: "Audiowide", cursive;
  line-height: 1.5;
}

// Headings

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  color: $text-color;

  &.lg-heading {
    font-size: 3rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem, 0.1rem;
  }
}

// Links

a {
  color: $text-color;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  .icons {
    margin-top: 1rem;

    a {
      color: $primary-color;
      padding: 0.4rem;

      &:hover {
        color: $text-color;
        @include easeOut;
      }
    }
  }
}

//Nav Menu

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: right;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: darken($secondary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show {
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $primary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem, 0;
    font-weight: 300;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $primary-color;
    }
  }
}

//Delay Nav Items Slide
@for $x from 1 to 6 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

//Projects
.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px $primary-color solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.contact-links {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  align-items: center;

  .contacts {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li,
    a {
      font-size: 2rem;
      color: $text-color;

      &:hover {
        color: $primary-color;
        @include easeOut;
      }
    }
  }
}

.skills {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  .skill-cat {
    background-color: #0e8d72bb;
    border-radius: 5px;
    margin-bottom: 2rem;

    .skill-title {
      text-align: center;
    }

    .skill-list {
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0.5rem;

      .skill {
        color: $primary-color;
        cursor: pointer;

        img {
          color: $primary-color;
          width: 30px;
        }

        &:hover {
          color: $text-color;
          @include easeOut;
        }
      }
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: $text-color;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: $secondary-color;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: $text-color;
  height: 60px;
}

@import "mobile";
